.roboto {
    font-family: 'Roboto', sans-serif;
}
.roboto-italic {
    font-family: 'Roboto Italic', sans-serif;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.montserrat-italic {
    font-family: 'Montserrat Italic', sans-serif;
}
.merriweather {
    font-family: 'Merrieweather', sans-serif;
}   
.merriweather-italic {
    font-family: 'Merrieweather Italic', sans-serif;
}

* {
    user-select: none;
    will-change: contents;
}
body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
.swiper {
    width: 100%;
}
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  